@keyframes open {
  from {
    transform: translate(0, -20px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.modal {
  @apply fixed inset-0 z-50 h-screen w-full bg-black/50 backdrop-blur-sm;

  &[open] {
    animation: open 0.3s forwards;
  }

  .container {
    @apply fixed inset-0 m-auto mb-0 sm:mb-auto h-fit w-[384px] rounded-xl bg-b-secondary px-[52px] pb-8 pt-12 text-md font-medium text-t-secondary max-w-full rounded-b-none sm:rounded-b-xl;
  }
  .title {
    @apply mb-2 text-center text-lg font-medium text-t-primary;
  }
  .btnClose {
    @apply absolute right-4 top-4 text-ic-primary transition-colors hover:text-ic-inverse;
  }
  .footer {
    @apply mt-6 flex gap-2;

    & > * {
      @apply flex-1;
    }
  }
}
